<div class="modern-card">
  <div class="card-image-container">
    <img
      src="{{
        user.photoUrl ||
          'https://thumbs.dreamstime.com/b/default-avatar-profile-icon-vector-user-image-179582665.jpg'
      }}"
      alt="{{ user.knownAs }}"
      class="card-image"
    />

    <div class="card-overlay">
      <div class="user-info-overlay">
        <h3 class="user-name">{{ user.knownAs }}, {{ user.age }}</h3>
        <p class="user-location">
          <i class="fa fa-map-marker"></i> {{ user.city }}
        </p>
      </div>

      <div class="action-buttons">
        <button
          class="btn-action btn-view"
          [routerLink]="['/members/', user.id]"
          title="View Profile"
        >
          <i class="fa fa-user"></i>
        </button>
        <button
          class="btn-action btn-like"
          (click)="sendLike(user.id)"
          title="Like"
        >
          <i class="fa fa-heart"></i>
        </button>
        <button
          class="btn-action btn-message"
          [routerLink]="['/members/', user.id]"
          [queryParams]="{ tab: 3 }"
          title="Message"
        >
          <i class="fa fa-envelope"></i>
        </button>
      </div>
    </div>

    <div class="online-indicator" *ngIf="user.lastActive">
      <span class="last-active">{{ user.lastActive | timeago: "false" }}</span>
    </div>
  </div>

  <div class="card-footer-info">
    <p class="user-bio" *ngIf="user.introduction">
      {{ user.introduction | slice: 0 : 50 }}...
    </p>
    <div class="card-tags">
      <span class="tag" *ngIf="user.city"
        ><i class="fa fa-map-marker"></i>{{ user.city }}</span
      >
    </div>
  </div>
</div>
